<div class="container">
    <div class="form-section">
        <!-- Arbeitszeiteintragung -->
        <div class="form-box">
            <h3><label id="type">Arbeitszeiteintragung</label></h3>
            <label for="arbeitszeit-von">Von:</label>
            <input type="date" id="start_date">
            <label for="arbeitszeit-von-zeit">Uhrzeit:</label>
            <input type="time" id="start_time">
            
            <label for="arbeitszeit-bis-zeit">Uhrzeit:</label>
            <input type="time" id="end_time">
            
            <button onclick="arbeitszeitInDB()">Speichern</button>
        </div>

        <!-- Fehlzeiteintragung -->
        <div class="form-box">
            <h3><label id="type">Fehlzeiteintragung</label></h3>
            <label for="fehlzeit-von">Von:</label>
            <input type="date" id="start_date">
            <label for="fehlzeit-von-zeit">Uhrzeit:</label>
            <input type="time" id="start_time">
            
            <label for="fehlzeit-bis-zeit">Uhrzeit:</label>
            <input type="time" id="end_time">
            
            <label for="fehlzeit-art">Art der Fehlzeit:</label>
            <select id="description">
                <option value="urlaub">Urlaub</option>
                <option value="ferien">Ferien/Feiertag</option>
                <option value="krankheit">Krankheit</option>
            </select>
            <button onclick="arbeitszeitInDB()">Speichern</button>
        </div>
    </div>

    <!-- Anzeigen-Button -->
    <button class="display-btn" onclick="datenAnzeigen()">Anzeigen</button>
</div>
